@use '../../../styles/globals.module.scss' as g;

.mdView {
    color: g.$base-color;
    min-height: 100vh;
    & > :nth-child(1) {
        margin-top: 16px;
    }
    & > :nth-last-child(1) {
        margin-bottom: 0;
    }

    .inline-code {
        background-color: rgb(242, 191, 226, 0.6);
        color: g.$base-color;
        border-radius: 0.3em;
        padding: 4px;
        margin-left: 2px;
        margin-right: 2px;
        white-space: break-spaces;
    }
    table {
        border-collapse: collapse;
        th,
        td {
            padding: 15px;
            border: 1pt solid g.$base-color;
        }
    }
    blockquote {
        position: relative;
        margin-left: 4%;
        padding: 22px 3em 5px 3em;
        box-sizing: border-box;
        color: g.$base-color;
        background: g.$accent-color;
        border-radius: 8px;
        &::before {
            // display: inline-block;
            position: absolute;
            top: -2px;
            left: 9px;
            width: 40px;
            height: 32px;
            text-align: center;
            content: '☆';
            color: g.$white-color;
            font-size: 18px;
            background: g.$accent-dark-color;
            font-weight: 100;
        }
        &::after {
            content: '';
            position: absolute;
            left: 9px;
            top: 30px;
            height: 0;
            width: 0;
            border-left: 20px solid g.$accent-dark-color;
            border-right: 20px solid g.$accent-dark-color;
            border-bottom: 10px solid transparent;
        }
    }
}
