@use '../../../styles/globals.module.scss' as g;

.mdEditor {
    line-height: 22px;
    width: stretch;
    resize: none;
    font-size: large;
    border-radius: 8px;
    font-family: sans-serif;
}
