// bultin CSS用
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');

html,
body {
    margin: 0;
    line-height: 200%;
    padding-right: 0 !important;
    overflow-x: hidden;
}

* {
    font-family: 'BIZ UDPGothic', sans-serif;
}
